* {
  box-sizing: border-box;
}

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  --taskWinSizeWidth: 500px;
  --mainColor: #2260cb;
  --secondColor: #1d1ba3;
  --thirdColor: #c5e1e5;
  --activeTaskColor: lightgreen;
  --mainWinColor: whitesmoke;
}

body {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--mainColor);
}

#tasksWin {
  min-height: 100px;
  max-height: 90vh;
  max-width: 100%;

  margin: 10px;
  padding: 30px 20px;

  border-radius: 5px;

  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: var(--taskWinSizeWidth);
  background-color: var(--mainWinColor);
}

.taskForm {
  width: 100%;
  margin-bottom: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

#mainInput {
  flex: 10;
  padding: 0.7rem;
  /* line-height: 2rem; */
  border: 2px solid var(--mainColor);
  border-radius: 5px;
  font-size: 1rem;
}
#mainInput:focus {
  outline: none;
  border: 2px solid var(--secondColor);
}

#addBtn {
  flex: 1;
  color: white;
  padding: 0.7rem 1.5rem;
  background-color: var(--mainColor);
  border: 2px solid var(--mainColor);
  border-radius: 5px;
  font-size: 1rem;

  transition: background-color 0.3s, border-color 0.3s;
}
#addBtn:hover {
  cursor: pointer;
  background-color: var(--secondColor);
  border-color: var(--secondColor);
}

/* ==============taskItem==================== */

#taskContainer {
  width: 100%;
}

.taskItem {
  background-color: var(--thirdColor);
  border: 2px solid darkgray;
  border-radius: 5px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 15px;

  transition: background-color 0.3s;
}

.taskItem:hover {
  cursor: pointer;
}

.taskItem + .taskItem {
  margin-top: 10px;
}

.taskItem.finishedTask {
  background-color: var(--activeTaskColor);
}

.deleteTaskBtn {
  color: white;
  border: 0;
  background-color: var(--secondColor);
  border-radius: 5px;

  font-size: 1rem;
  height: 50px;
  width: 50px;

  transition: background-color 0.3s;
}

.deleteTaskBtn:hover {
  cursor: pointer;
  background-color: var(--mainColor);
}
